@charset "UTF-8";
.profile {
	width: 25px;
	height: 25px;
	border: 1px solid #D5D5D5;
	border-radius: 50px;
}
.content {
	display: flex;
}
.content .leftMenu {
	display: block;
	position: static;
	min-width: 250px;
	z-index: 2;
}
.content .leftMenu div {
	z-index: 2;
}
.content .rightContent {
	flex-grow: 1;
	overflow: auto;
}
.content .rightContent .margin {
	margin-bottom: 15px;
}
.content .rightContent .board-subject {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.content .rightContent .list-type {
	list-style-type: none;
}
.content .rightContent .empty-list-main {
	text-align: center;
	border: 1px solid #D5D5D5;
	border-radius: 5px;
	padding: 30px; 
}
.content .rightContent .card {
  	transition-property: box-shadow;
  	transition-duration: 0.5s;
	cursor: pointer;
}
.content .rightContent .card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer {
	padding: 10px 0;
	font-size: 10pt;
	color: gray;
	text-align: center;
	border-top: 1px solid #D5D5D5;
	border-bottom: 1px solid #D5D5D5;
	background-color: rgba(246, 246, 246, 0.4);
}
.footer div span {
	color: black;
}
.browser {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	margin-left: 15px;
	margin-right: 15px;
}
.browser.on {
	display: block;
}
@media (max-width:1199px) {
	.video-card {
		margin-bottom: 15px;
	}
}
@media (max-width:700px) {
	.content {
		flex-direction: row;
	}
	.content .leftMenu {
		display: none;
		position: absolute;
	}
}