@charset "UTF-8";
.profile {
	width: 25px;
	height: 25px;
	border: 1px solid #D5D5D5;
	border-radius: 50px;
}
.container-view {
	margin-top: 15px;
	border: 1px solid #D5D5D5;
	border-radius: 5px;
}
.container-view.recommend {
	text-align: center;
	border: 1px solid transparent;
}
.container-view .view-subject {
	padding: 10px;
	border-bottom: 1px solid #D5D5D5;
}
.container-view .view-subject .subject {
	font-size: 15pt;
}
.container-view .view-subject .other {
	display: flex;
	text-align: center;
}
.container-view .view-subject .other div {
	margin-right: 5px;
}
.container-view .view-subject .other .username span {
	color: gray;
}
.container-view .view-subject .other .viewcnt {
}
.container-view .view-subject .other .regdate {
}
.container-view .view-content {
	padding: 10px;
}
.container-view .view-content .v-content p {
	margin: 0;
}
.container-view .view-content .recommend {
	text-align: center;
}
.container-function {
	margin-top: 15px;
}
.container-function:after {
	content: "";
	display: block;
	clear: both;
}
.alert.alert-info.comment {
	display: none;
	opacity: 0;
}
.container-function .view-function {
	float: right;
}
#container-comment .empty-comment {
	padding: 30px;
	margin-bottom: 15px;
	text-align: center;
	border: 1px solid #D5D5D5;
	border-radius: 5px;
}
#container-comment .on {
	display: block;
}
#container-comment .off {
	display: none;
}
.rc-content-inner .btn-group.float-right {
	margin-bottom: 10px;
}
.container-comment-input {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #D5D5D5;
	border-radius: 5px;
}
.container-comment-input.recomment {
	margin-bottom: 0;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-radius: 0;
	background-color: rgba(246, 246, 246, 0.4);
}
.container-comment-input .margin {
	margin-top: 5px;
}
.container-comment-input:after {
	content: "";
	display: block;
	clear: both;
}
.container-comment-title {
	margin-bottom: 5px;
}
.container-comment-title .popular-list, .new-list {
	cursor: pointer;
}
.container-comment-list {
	margin-bottom: 15px;
	border: 1px solid #D5D5D5;
	border-radius: 5px;
}
.container-comment-list .deleteComment {
	font-weight: bold;
	padding: 10px;
}
.container-comment-list .deleteReComment {
	display: flex;
	align-items: center;
	padding: 10px;
	font-weight: bold;
	border-left: 1px solid #D5D5D5;
}
.container-comment-list .comment-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.container-comment-list .comment-list .comment-subject {
	display: flex;
	padding: 10px;
	border-bottom: 1px solid #D5D5D5;
}
.container-comment-list .comment-list .comment-subject .subject {
	flex-grow: 1;
}
.container-comment-list .comment-list .comment-subject .subject span {
	color: gray;
}
.container-comment-list .comment-list .comment-subject .regdate {
	width: 70px;
	text-align: center;
}
.container-comment-list .comment-list .comment-content {
	padding: 10px;
	padding-bottom: 0;
}
.container-comment-list .comment-list .comment-content .c-content {
}
.container-comment-list .comment-list .recommend {
	margin: 10px;
}
.container-comment-list .comment-list .recommend .comment-like {
	margin: 0 5px;
}
.recommend-img {
	width: 16px;
	height: 16px;
}
.container-comment-list .recomment-list {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.container-comment-list .recomment-list.onRecomment {
	display: block;
}
.container-comment-list .recomment-list .recomment-content {
	display: flex;
	box-sizing: border-box;
	border-top: 1px solid #D5D5D5;
	background-color: rgba(246, 246, 246, 0.4);
}
.container-comment-list .recomment-list .recomment-content .arrow {
	width: 45px;
	height: 40px;
	padding-left: 10px;
	margin-right: 10px;
}
.container-comment-list .recomment-list .recomment-content .arrow img {
	width: 100%;
	height: 100%;
}
.container-comment-list .recomment-list .recomment-content .rc-content {
	flex-grow: 1;
	border-left: 1px solid #D5D5D5;
}
.container-comment-list .recomment-list .recomment-content .rc-content .rc-subject {
	display: flex;
	padding: 10px;
	border-bottom: 1px solid #D5D5D5;
}
.container-comment-list .recomment-list .recomment-content .rc-content .rc-subject .subject {
	flex-grow: 1;
}
.container-comment-list .recomment-list .recomment-content .rc-content .rc-subject .subject span {
	color: gray;
}
.container-comment-list .recomment-list .recomment-content .rc-content .rc-subject .regdate {
	width: 70px;
	text-align: center;
}
.container-comment-list .recomment-list .recomment-content .rc-content .rc-content-inner {
	padding: 10px;
}
.container-comment-list .recomment-list .recomment-content .rc-content .rc-content-inner .rc-content-inner-content {
	margin-bottom: 5px;
}
@media (max-width:700px) {
	.container-function .view-function {
		float: none;
		text-align: center;
	}
}